<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search Products</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">

    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/product.css">

</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/image/logo.svg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav top-menu mb-2 mb-lg-0 gap-3">
                <li class="nav-item">
                    <a class="nav-link" href="/product/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product/search#categories">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product/home#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product/home#contact">Contact</a>
                </li>
            </ul>
        </div>

        <div class="d-flex align-items-center gap-3">
            <form class="d-flex" role="search" th:action="@{/product/search}" method="get">
                <input class="form-control form-control-sm me-2"
                       type="search" name="query"
                       placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-sm btn-outline-success" type="submit">Search</button>
            </form>

            <a href="/cart">
                <img src="/image/cart.svg" alt="Cart" width="24" height="24">
            </a>
            <a href="/auth/account">
                <img src="/image/user.svg" alt="User" width="24" height="24">
            </a>

        </div>
    </div>
</nav>

<div class="container mt-4">


    <h3>Categories</h3>
    <div class="d-flex overflow-auto gap-3 px-2" th:if="${allCategories != null}">
        <a th:each="cat : ${allCategories}"
           th:href="@{/product/search(categoryId=${cat.id})}"
           class="text-decoration-none text-dark text-center border border-success rounded d-flex align-items-center justify-content-center"
           style="min-width: 160px; height: 100px;">
            <span th:text="${cat.name}" class="fw-semibold"></span>
        </a>
    </div>

    <h3>Results</h3>
    <div th:if="${#lists.isEmpty(products)}">
        <p>No products found.</p>
    </div>

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6 g-4">
        <div class="col" th:each="product : ${products}">
            <a th:href="@{/product/{id}(id=${product.id})}" class="card h-100 text-decoration-none text-dark">
                <<img th:if="${!#lists.isEmpty(product.images)}"
                      th:src="${product.images[0].imgUrl}"
                      class="card-img-top"
                      style="height: 150px; object-fit: contain;"
                      alt="Product Image">

                <div class="card-body">
                    <h6 class="mb-1 product-name" th:text="${product.name}">Product Name</h6>
                    <div>
                        <span th:text="${'$' + product.finalPrice}" class="text-success fw-bold">$0.00</span>
                        <small th:if="${product.discount > 0}"
                               th:text="${'$' + product.price}"
                               class="text-muted text-decoration-line-through ms-1">$0.00</small>
                    </div>
                    <div class="small text-warning">
                        ★★★★☆ <span class="text-muted">(123)</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
</div>
<div class="container mt-4 mb-6"></div>

<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container">
        <div class="row">


            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <h5 class="fw-bold mb-3">Exclusive</h5>
                <p class="mb-1">Subscribe</p>
                <p class="small">Get 10% off your first order</p>

                <form class="d-flex" action="#" method="post">
                    <input
                            class="form-control form-control-sm me-2"
                            type="email"
                            placeholder="Enter your email"
                            aria-label="Email"
                            required
                    >
                    <button class="btn btn-sm btn-primary" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor" viewBox="0 0 16 16">
                            <path d="M15.864.043A.5.5 0 0 1 16 .5v15a.5.5 0 0 1-.65.48l-15-5.5a.5.5 0 0 1 0-.94l15-5.5a.5.5 0 0 1 .514.003z"/>
                        </svg>
                    </button>
                </form>
            </div>

            <div class="col-12 col-md-6 col-lg-2 mb-4" id="contact">
                <h5 class="fw-bold mb-3">Support</h5>
                <address class="small mb-2">
                    Beresteysky Avenue, 32, <br>
                    Kiev, Ukraine, 04116
                </address>
                <p class="small mb-1">personal@gmail.com</p>
                <p class="small mb-0">+380-50555-5555</p>
            </div>

            <div class="col-12 col-md-6 col-lg-2 mb-4">
                <h5 class="fw-bold mb-3">Account</h5>
                <ul class="list-unstyled small">
                    <li class="mb-1"><a href="#" class="text-white text-decoration-none">My Account</a></li>
                    <li class="mb-1"><a href="#" class="text-white text-decoration-none">Login / Register</a></li>
                    <li class="mb-1"><a href="#" class="text-white text-decoration-none">Cart</a></li>
                    <li class="mb-1"><a href="#" class="text-white text-decoration-none">Wishlist</a></li>
                    <li class="mb-1"><a href="#" class="text-white text-decoration-none">Shop</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-6 col-lg-2 mb-4">
                <h5 class="fw-bold mb-3">Quick Link</h5>
                <ul class="list-unstyled small">
                    <li class="mb-1"><a href="#" class="text-white text-decoration-none">Privacy Policy</a></li>
                    <li class="mb-1"><a href="#" class="text-white text-decoration-none">Terms Of Use</a></li>
                    <li class="mb-1"><a href="#" class="text-white text-decoration-none">FAQ</a></li>
                </ul>
            </div>

            <div class="col-12 col-lg-3 mb-4">
                <h5 class="fw-bold mb-3">Download App</h5>
                <p class="small mb-3">Save $3 with App New User Only</p>

                <div class="d-flex align-items-center">
                    <img src="/image/qrcode.svg" alt="QR code" width="80" height="80" class="me-3">

                    <div>
                        <a href="#" class="d-block mb-2">
                            <img src="/image/googleplay.svg" alt="Google Play" width="100">
                        </a>
                        <a href="#">
                            <img src="/image/appstore.svg" alt="App Store" width="100">
                        </a>
                    </div>
                </div>

                <div class="mt-3 d-flex gap-3">
                    <a href="#" class="text-white">
                        <img src="/image/facebook.svg" alt="Facebook" width="24">
                    </a>
                    <a href="#" class="text-white">
                        <img src="/image/twitter.svg" alt="Twitter" width="24">
                    </a>
                    <a href="#" class="text-white">
                        <img src="/image/instagram.svg" alt="Instagram" width="24">
                    </a>
                    <a href="#" class="text-white">
                        <img src="/image/linkedin.svg" alt="LinkedIn" width="24">
                    </a>
                </div>
            </div>

        </div>
    </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>
</html>
