.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rating .star {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
}

.rating .star:hover,
.rating .star:hover ~ .star,
.rating .star.selected,
.rating .star.selected ~ .star {
    color: #ffc107;
}

#productCarousel .carousel-control-prev-icon,
#productCarousel .carousel-control-next-icon{
    filter: invert(64%) sepia(87%) saturate(556%) hue-rotate(57deg);
    filter: invert(64%) sepia(87%) saturate(556%) hue-rotate(57deg) !important;
}